@import url("styles/header.css");

:root {
    background-color: #051D3B;
    
}

.cabecalho {
    display: flex;
    height: 50px;
    margin-right: 50px;
    margin-top: 32px;
    margin-bottom: 40px;
    
}

.cabecalho__logo {
    margin-left: 32px;
}

.cabecalho__pesquisa {
    margin-left: 312px;
    width: 724px;
    background-color: #474A51;
    border-radius: 8px;
}

.cabecalho__foto__perfil {
    margin-left: 206px;
}

.menu-lateral {
    color: white;
    text-decoration:none;
}

li {
    padding-bottom: 16px;
    font-size: 18px;

}

.menu-lista {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    list-style-type: none;
}

.menu-lista__item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu-lista__link {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-left: 16px;

}







